.roles__header_col_id {
    min-width: 20px;
    ext-align: right;
}

.roles__header_col_name {
    min-width: 300px;
}

.roles__body_col_id {
    min-width: 20px;
    ext-align: right;
}

.roles__body_col_name {
    min-width: 300px;
}
